body{
    color: white;
    font-family: "Lato", sans-serif;
}

a{
    color: white;
}

#atleta{
    background-color: black;
    color: white;
    max-width: 50em;
    margin: auto;
}
body{
    background-color: black;
}
#voltar{
    color: white;
    margin: auto;
    display: flex;
    font-size: x-large;
    justify-content: center;
}

@media screen and (min-width: 768px){
    .pagina{
        display: flex;
        gap: 1em;
    }
    #voltar{
        justify-content: center;
    }
}